 HEAD
body{background:blue;} 

body{font-family:Arial;background:#f4f4f4;margin:0;padding:0;text-align:center;}
h1{color:blue;font-size:40px;margin-top:20px;}
button{background:blue;color:white;border:none;padding:10px 20px;border-radius:8px;}

 body {
    gap: 25px;
 }